// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Футер прижатый к низу
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app-content {
  flex: 1;
}
// END Футер прижатый к низу
